<p style="background-color: grey;">attributedir works!</p>
<div class="a"[ngClass]="div1BgColor"> 
    Div 1

</div>

<div class="b"[ngClass]="div1BgColor" >
    Div2
    

</div>

<div class="c" [ngClass]="div1BgColor">
    Div 3
</div>

<Div class="d" [ngClass]="div1BgColor">
    Div 4
</Div>

<div>
    <button class="btnp" (click)="addRedCol()">
        Add red
    </button>

    <button class="btnn" (click)="addBlueCol()"> 
        add Blue
    </button>

    <button class="btnnn" (click)="addToggle()">
        toggle 
    </button>

    <input class="ip"  type="text" placeholder="num1">
    <input type="text" placeholder="num2">

    <select name="" class="combox">

        <option value="">india</option>
        <option value="">australia</option>
        <option value="">England</option>
    </select>
</div>