<p>data-binding works!</p>
<div class="row">
    <div class="col-3">

        on way from ts or component to html 

    </div>
    <div class="col-3">
        {{cName}}
        <br>
        here data is coming from component file 
        
    </div>
    <div class="col-3">
        <input type="{{inputType}}">
    </div>
    <div class="col-3">
        
    </div>
</div>

<div class="col-5">

    property binding 
    <div [class] ="myClassName"> aman </div>

    here we don't need any interpolation 


</div>

<p>below it is event binding </p>

<button class="btn btn-success" (click)="showAlert('welcome angular 18')">
    
    show welcome  
</button>

<div>
    2 way data binding 
    <button class="btn btn-success" (click)="changeCourseName()"> changeName </button>
    <input type="text" [(ngModel)]="cName">
    
    <div class="row-3">
        <h2>
            {{firstName()}}
        </h2>
    </div>

</div>

