<p>structural-dir works!</p>

<button class="btn btn-danger" (click)="navigateToattrbutive()"> go to attributive</button>

<div  *ngIf= "isDivisible" class="row-3">

    <div class=" col-3 bg-primary" >

        div 1

    </div>
    <br>
    <button  class="btn btn-success" (click)="showDiv1()" >
        show
    </button>
    <button  class="btn btn-success  m-2"  (click)="hideDiv1()">
        hide 
    </button>
</div>

<span  *ngIf="num1 == num2"  class="row-4 bg-primary">
    div 2 using comparison 
</span> <br>

<input type="text" [(ngModel)]="num1">

<input type="text" [(ngModel)]="num2" id="">


<div class="row-5">
    <ul>
       <li *ngFor="let city of cityArray">
        {{city}}
       </li>
       <li>
       </li>
    </ul>
</div>

<div class="row-4">
    <select name="" id="">
        <option *ngFor="let student of studentList" [value]="student.id">{{student.name}}</option>
    </select>
</div>
